name: Build and release
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows --release
      
      - name: Zip Windows Build
        run: Compress-Archive -Path build\windows\x64\runner\Release\* -DestinationPath Windows_Build.zip
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: Windows_Build.zip

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-linux-desktop
      - run: flutter build linux --release

      - name: Compress Linux Build
        run: |
          cd build/linux/x64/release/bundle
          tar -czvf ../../../../../Linux_Build.tar.gz *
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: Linux_Build.tar.gz

  create-release:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          draft: true 
          files: |
            artifacts/windows-build/Windows_Build.zip
            artifacts/linux-build/Linux_Build.tar.gz
